.weOffer{
    background: #E1E8F4;
    padding-top: 100px;
    padding-bottom: 70px;
    
    * {
        font-family: "Montserrat Regular";
    }

    &__ul{    
        margin-top: 25px;
        list-style-image: url('../img/smallArrowToRight.svg') !important;
        padding: revert !important;

        li{
            padding-left: 12px;
            line-height: initial;
            margin-top: 13px;

            span{
                font-size: 1rem;
                line-height: 1rem;
            }
        }
    }

    &__p{
        color: #000;

        &_bold{
            font-weight: bold;
            text-transform: uppercase;
            color: #000;
            font-family: "Montserrat Bold";
        }
    }

    &__item{
        background: #1C1C1C;
        height: 350px;
        padding: 10px 20px;
        width: 233px;
        margin: 10px;
        margin-top: 30px;

        .weOffer__itemTitle{
            color: #59A8FD;
            font-size: 1.825rem;
            font-family: "Montserrat Bold";
            font-weight: 600;
        }
    }

    .title{
        font-family: "Montserrat Bold";
        color: #000;
    }


    .btn{position: relative;
    
        &:hover{
            background: #027BFD;
            .arrow_blue{
                
                    opacity: 0;
                
            }
        }
    }
    .arrow{
        @include absCenter();
        transition: all 1s linear;

        
        
        
    }

    .itemsRow{
        width: 94%;
        justify-content: flex-end;
        margin-top: 60px;
    }

    &__img-tech{right: 50px;}
    .titleWrapper{display: flex;align-items: center;justify-content: space-between;}
    .btns{
        display: flex; justify-content: space-between;width: 100px;
    }
}