block 1nav 

nav.nav    
    .wrapper 
        .row 
            .logo 
                img(class='logo__img' src='img/1nav/logo.svg')
                span.logo__textRow.logo__text Active #[br] 
                    span.logo__textRow Trust
            .desktopMenu 
                a(href='#' class='desktopMenu__item') Услуги
                a(href='#' class='desktopMenu__item') Портфолио
                a(href='#' class='desktopMenu__item') О компании
                a(href='#' class='desktopMenu__item') Контакты
                a(href='#' class='desktopMenu__item desktopMenu__item_phone') 8 (495) 968-87-44