block 2activeTrust

section.activeTrust 
    .wrapper 
        .row
            .activeTrust__content 
                h2.title.activeTrust__title Digital–агентство
                h2.title.activeTrust__title.textBg Active Trust
                p.p.activeTrust__p.
                    это отлаженная машина по 
                    производству качественного #[br] контента для всех видов 
                    медиа бизнеса в любом #[br] формате: текстовом, аудио, видео, анимационном. 

                a(href='#' class='link activeTrust__link') 
                    span.link__text СВЯЗАТЬСЯ С НАМИ
                    .btn.btn__bg
                        img(class='btn__img' src='img/ArrowToRight.svg')

            img(src='img/2activeTrust/webp/blur.webp' data-ext='png' class='activeTrust__blur')