block weOffer 

section.weOffer 
    .wrapper
        .row
            div
                p.weOffer__p Если Вы хотите вывести бизнес на рынок, сделать качественный #[br] ребрендинг, оптимизировать работу ресурса, создать бизнес с нуля #[br] или просто получить дополнительные конкурентные преимущества, #[br]
                    span.weOffer__p_bold тогда нам по пути.

                .row
                div.titleWrapper
                    h2.title Что мы вам предлагаем? 
                    .btns 
                        button(class='btn btn_regular btn_regular_left')
                            svg(class='arrow arrow_white' xmlns='http://www.w3.org/2000/svg' width='19' height='16' viewbox='0 0 19 16' fill='none')
                                path(d='M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM19 7L1 7V9L19 9V7Z' fill='#fff')

                            svg(class='arrow arrow_blue' xmlns='http://www.w3.org/2000/svg' width='19' height='16' viewbox='0 0 19 16' fill='none')
                                path(d='M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM19 7L1 7V9L19 9V7Z' fill='#027BFD' fill-opacity='0.5')

                        button(class='btn btn_regular btn_regular_right')
                            svg(class='arrow arrow_white' xmlns='http://www.w3.org/2000/svg' width='19' height='16' viewbox='0 0 19 16' fill='none')
                                path(d='M18.7071 8.70716C19.0976 8.31663 19.0976 7.68347 18.7071 7.29294L12.3431 0.928952C11.9526 0.538452 11.3195 0.538452 10.9289 0.928952C10.5384 1.31955 10.5384 1.95265 10.9289 2.34315L16.5858 8.00005L10.9289 13.6569C10.5384 14.0474 10.5384 14.6806 10.9289 15.0711C11.3195 15.4616 11.9526 15.4616 12.3431 15.0711L18.7071 8.70716ZM0 9.00005L18 9.00005V7.00005L0 7.00005V9.00005Z' fill='#fff')

                            svg(class='arrow arrow_blue' xmlns='http://www.w3.org/2000/svg' width='19' height='16' viewbox='0 0 19 16' fill='none')
                                path(d='M18.7071 8.70716C19.0976 8.31663 19.0976 7.68347 18.7071 7.29294L12.3431 0.928952C11.9526 0.538452 11.3195 0.538452 10.9289 0.928952C10.5384 1.31955 10.5384 1.95265 10.9289 2.34315L16.5858 8.00005L10.9289 13.6569C10.5384 14.0474 10.5384 14.6806 10.9289 15.0711C11.3195 15.4616 11.9526 15.4616 12.3431 15.0711L18.7071 8.70716ZM0 9.00005L18 9.00005V7.00005L0 7.00005V9.00005Z' fill='#027BFD' fill-opacity='0.5')

            img(class='weOffer__img-tech' src='img/3weOffer/webp/tech.webp' data-ext='png' style='position: absolute;')


    .wrapper.wrapper_full
        .row.itemsRow

            .weOffer__item 
                h3.weOffer__itemTitle Маркетинг

                ul.weOffer__ul
                    li 
                        span SMM 
                    li 
                        span SEO 
                    li 
                        span Продажа и генерация #[br] лидов 
                    li 
                        span Комплексное #[br] продвижение бренда 
                    li 
                        span Контекстная реклама

            .weOffer__item 
                h3.weOffer__itemTitle Программирование 

                ul.weOffer__ul
                    li 
                        span Сайты под ключ 
                    li 
                        span Приложения для ios #[br] и android
                    li 
                        span 1С и CRM-системы
                    li 
                        span Боты
                    li 
                        span Парсинг данных 
                    li 
                        span Софт

            .weOffer__item 
                h3.weOffer__itemTitle Дизайн

                ul.weOffer__ul
                    li 
                        span Сайты
                    li 
                        span Логотипы
                    li 
                        span 3D-моделирование
                    li 
                        span Мобильное приложение
                    li 
                        span BrandBook
                    li 
                        span Лендинги

            .weOffer__item 
                h3.weOffer__itemTitle Копирайтинг 

                ul.weOffer__ul
                    li 
                        span Продающий
                    li 
                        span Маркетинговый
                    li 
                        span Креативный
                    li 
                        span SEO
                    li 
                        span LSI 
                    li 
                        span Технический

            .weOffer__item 
                h3.weOffer__itemTitle Мультимедиа

                ul.weOffer__ul
                    li 
                        span Производство аудио и видеоконетнта 
                    li 
                        span Услуги фотографа