section.trust
	.wrapper
		h2(class='title trust__title') Почему нам доверяют? 
		.row
			div(class='trust__item trust__item_1')
				img(class='trust__img' src='img/5trust/1.svg')
				p(class='trust__p') Проводим 
					b анализ
					br
					b целевой аудитории
					br
					| и долгосрочной
					br
					| стратегии
			div(class='trust__item trust__item_2')
				img(class='trust__img' src='img/5trust/2.svg')
				p(class='trust__p') Разрабатываем 
					br
					| максимально
					br
					b  алгоритмизированную и 
					br
					b автоматизированную
					br
					b  тактику продвижения 
			div(class='trust__item trust__item_3')
				img(class='trust__img' src='img/5trust/3.svg')
				p(class='trust__p') Помогаем разработать 
					br
					b узнаваемый имидж
			div(class='trust__item trust__item_4')
				img(class='trust__img' src='img/5trust/4.svg')
				p(class='trust__p') Выявляем самые 
					br
					b эффективные методы
					br
					b привлечения
					| клиента
		hr
		.row
			div
				p
					b
						| Для каждого проекта мы находим комплексное
						br
						| всестороннее решение. 
						| И наш опыт дает нам
						br
						| смелость гарантировать эффективность.
			div
				p
					b
						| Все это помогает клиенту раскрыть коммерческий
						br
						| потенциал и 
						| выйти на новые высоты по показателям
						br
						| и прибыли.
