block result

section.result
    .wrapper 
        .row 
            div.circleText
                div(class='btn btn__bg')
                    img(class='btn__img' src='img/ArrowToRight.svg')

            div(class='result__desc')
                p
                    b Active Trust 
                    | на диджитал рынке недавно. 
                    | Но мы
                    br
                    | абсолютно уверены, что этот рынок нам&nbsp;покорится.
                    br
                    | Потому что у нас уже есть успешный опыт
                    br
                    | реализации другого крупного проекта,
                    br
                    | одноименного инвестиционного фонда
                    br
                    | (www.active-trust.com)
                p Диджитал агентство Active Trust окажет Вам услуги 
                    br
                    | полного цикла по маркетингу, проектированию
                    br
                    | IТ-решений, информационную помощь на этапе
                    br
                    | их&nbsp;внедрения. А также по разработке
                    br
                    | 
                    | функциональных веб-сайтов мобильных
                    br
                    | 
                    | приложений, проектированию грамотных
                    br
                    | 
                    | интерфейсов, реализации и автоматизации
                    br
                    | сложных бизнес-процессов.
                span
                    b Мы работаем, Вы получаете результат!
