block contacts 

section.contacts 
    .wrapper 
        .row 
            .coords
                h2.title Наши контакты 
                span.
                    118280  г. Москва, ул Ленинская Слобода, #[br] 
                    д 19. БЦ “Омега Плаза”

                span +7(919) 962-62-35 8 (495) 968-86-77

                span info@active-trust.com

                .socialLinks 
                    a(href='#')
                        img(src='img/7contacts/telegram.svg')
                    a(href='#')
                        img(src='img/7contacts/phone.svg')
                    a(href='#')
                        img(src='img/7contacts/inst.svg')

            form(action="" class='form contacts__form') 
                h4 Оставьте заявку
                span.subtitle И мы свяжемся с вами в течение 30 минут

                input(type="text" placeholder='Имя *' class='input input_name')
                input(type="text" placeholder='Телефон *' class='input input_phone')
                input(type="text" placeholder='Email *' class='input input_email')
                button.btn 
                    span Отправить заявку
                    img(src='img/smallArrowToRight.svg' class='contacts__img')
                span.politics Нажимая на кнопку Вы соглашаетесь с политикой #[br] конфиденциальности 