block footer 

footer.footer 
    .wrapper 
        .row 
            .footer__item
                .logo
                    img.logo__img(src='img/1nav/logo.svg')
                    span.logo__textRow.logo__text
                        | Active 
                        br
                        span.logo__textRow Trust
                span.footer__inn ИНН: 9725042364
                span.footer__ogrn ОГРН: 1207700506562
            
            .footer__item 
                a(href='#').footer__a Маркетинг 
                a(href='#').footer__a Программирование 
                a(href='#').footer__a Дизайн
                a(href='#').footer__a Копирайтинг
                a(href='#').footer__a Мультмедиа
            
            .footer__item 
                    .download 
                        div.download__text
                            span Скачать презентацию  
                            span.download__text_5mb (5 mb)
                        .btn.btn__bg
                            img.btn__img(src='img/ArrowToRight.svg')
                    
                    span.text_grey.politics Политика конфиденциальности 
                    span.text_grey Copyright © 2021 Digital-агентство «Active Trust»
