.result{
    margin: 70px 0;

    .circleText{
        background: url(../img/6result/webp/textCircle.webp) no-repeat center;
        background-size: contain;
        width: 33%;
        z-index: 1;
        position: relative;
    }

    .btn{
        @include absCenter();
    }

    &__desc {

        p, span{
            color: #fff;
            font-family: "Montserrat Light";
        }
        
    }
}