.activeTrust{
    margin-top: 100px;
    font-family: "Montserrat Light";
    margin-bottom: 100px;
    
    .title{    margin: 0;}

    .textBg{
        font-weight: bold;
        background: url(../img/2activeTrust/webp/titleBg.webp);
        background-size: contain;
        background-position: -84px -2px;
        -webkit-background-clip: text;
        color: transparent;
        font-family: "Montserrat Bold";
        font-size: 6rem;

        position: relative;

        &:after {
            @include pseudo();
            bottom: -20px;
            left: 0;
            width: 85px;
            height: 2px;
            background-color: #fff;
        }
    }

    &__content{
        z-index: 1;
    }

    &__p{
        margin-top: 75px;
    }

    &__link{
        display: flex;
        align-items: center;
        margin-top: 60px;
        font-family: "Montserrat Regular";
    }

    &__blur{
        position: absolute;
        right: 40px;
    }

    .row{
        align-items: center;
    }

}