.footer{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 65px;
    font-family: "Montserrat Light";

    *{font-size: 1.5rem;}

    .logo{
        color: #fff;

        &__textRow{
            font-size: 2.7rem;
            line-height: 2.7rem;
        }
    }

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__a{
        @include colors($defaultColor: #fff, $visitColor: #c8c8c8, $hoverColor: #aaa, $activeColor: #c8c8c8);
    }

    .btn{
        margin-left: auto;
        margin-right: 50px;
        background: #0c5cb3;

        
    }

    .download{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &__text{
            display: flex;
        align-items: center;
        justify-content: space-between;

            &_5mb{
                padding-left: 20px;
            }
        }

    }

    .download:hover{
        
            @include colors($defaultColor: #fff !important, $visitColor: #c8c8c8 !important, 
            $hoverColor: #aaa !important, $activeColor: #c8c8c8 !important);
        .btn{
            background: #027BFD;
           
        }
        
    }

    &__inn{
       
        margin-top: 30px;
    }

    .politics{
        margin-top: 30px;
    }
}